themes {
    AstroDark {
        fg "#ADB0BB"
        bg "#26343F"
        black "#000000"
        red "#FF838B"
        green "#87C05F"
        yellow "#DFAB25"
        blue "#5EB7FF"
        magenta "#DD97F1"
        cyan "#4AC2B8"
        white "#9B9FA9"
        orange "#F5983A"
    }
}
